Magic 271485
Revision Verdi3_L-2016.06-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 28 1058 331 295 71

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/cqiu/work/prj/simPrj/sim_model_nand_spi/runsim/run_vcs_vrd_nuvm_nip_nhls_nandspi/tb_dut_top.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 1249509600.188463 1250568413.198070
cursor 4821162125.000000
marker 1250051250.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 1
; marker line index
markerPos 9

; Run Time Signal and Member
; userBusMem member ...
; saveRunSig name
activeDirFile "" "/home/cqiu/work/prj/simPrj/sim_model_nand_spi/runsim/run_vcs_vrd_nuvm_nip_nhls_nandspi/tb_dut_top.fsdb"
userBusMem /tb_dut_top/uut/SI
userBusMem /tb_dut_top/uut/SO
userBusMem /tb_dut_top/uut/WP_N
userBusMem /tb_dut_top/uut/HOLD_N
saveRunSig "iodata[3:0]"

; Run Time Signal and Member
; userBusMem member ...
; saveRunSig name
userBusMem /tb_dut_top/uut/HOLD_N
userBusMem /tb_dut_top/uut/WP_N
userBusMem /tb_dut_top/uut/SO
userBusMem /tb_dut_top/uut/SI
saveRunSig "iodata[0:3]"

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByRising


addGroup "G1"
activeDirFile "" "/home/cqiu/work/prj/simPrj/sim_model_nand_spi/runsim/run_vcs_vrd_nuvm_nip_nhls_nandspi/tb_dut_top.fsdb"
addSignal -h 15 /tb_dut_top/uut/SCK
addSignal -h 15 /tb_dut_top/ssi_clk
addSignal -h 15 /tb_dut_top/uut/CS_N
addSignal -h 15 -UNSIGNED -UDEC /tb_dut_top/uut_sckcnt[15:0]
addSignal -h 15 /tb_dut_top/uut/SI
addSignal -h 15 -holdScope SO
addSignal -h 15 -holdScope WP_N
addSignal -h 15 -holdScope HOLD_N
addSignal -h 15 -UNSIGNED -HEX /iodata[3:0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/cqiu/work/prj/simPrj/sim_model_nand_spi/runsim/run_vcs_vrd_nuvm_nip_nhls_nandspi/tb_dut_top.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/tb_dut_top"

SCOPE_LIST_BEGIN
"/tb_dut_top"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


