Magic 271485
Revision Verdi3_L-2016.06-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 28 1243 436 295 71

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/cqiu/work/prj/simPrj/sim_spi_jc5/runsim/run_vcs_vrd_nuvm_nip_hlst_jc5_spi/tb_dut_top.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 4160241510.000000
cursor 3473200875.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
userMarker 1294984800 M1 ID_GREEN5 long_dashed
userMarker 3251377125 M2 ID_GREEN5 long_dashed
userMarker 3473193375 M3 ID_GREEN5 long_dashed

; visible top row signal index
top 7
; marker line index
markerPos 14

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByRising


addGroup "G1"
addGroup "NAND_SPI"
activeDirFile "" "/home/cqiu/work/prj/simPrj/sim_spi_jc5/runsim/run_vcs_vrd_nuvm_nip_hlst_jc5_spi/tb_dut_top.fsdb"
addSignal -h 15 -UNSIGNED -UDEC /tb_dut_top/uut_sckcnt[15:0]
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 /tb_dut_top/uut/SCK
addSignal -c ID_CYAN6 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope CS_N
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 -holdScope SI
addSignal -c ID_YELLOW8 -ls solid -lw 1 -h 15 -holdScope SO
addSignal -h 15 -UNSIGNED -HEX /tb_dut_top/uut/uut_0/row_addr_reg[23:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope memory_index[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope memory_addr[0:2047]
addSignal -h 15 -UNSIGNED -HEX -holdScope memory_used[31:0]
addSignal -h 15 -holdScope dataout_enable
addSignal -h 15 -holdScope so_int
addSignal -h 15 -UNSIGNED -HEX -holdScope output_byte[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope data_reg[0][0:2175]
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 /tb_dut_top/uut/WP_N
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 -holdScope HOLD_N
addSignal -h 15 -holdScope SCK
addSignal -h 15 -UNSIGNED -HEX -holdScope CS_N
addSignal -h 15 -holdScope SI
addSignal -h 15 -holdScope SO
addSignal -h 15 -holdScope HOLD_N
addSignal -h 15 -holdScope WP_N
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/cqiu/work/prj/simPrj/sim_spi_jc5/runsim/run_vcs_vrd_nuvm_nip_hlst_jc5_spi/tb_dut_top.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/spi_mst_DW_apb_ssi_bvm02"
"/tb_dut_top"
"/tb_dut_top/uut"

SCOPE_LIST_BEGIN
"/spi_mst_DW_apb_ssi_bvm02"
"/tb_dut_top"
"/tb_dut_top/uut"
"/tb_dut_top/uut/uut_0"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


