Magic 271485
Revision Verdi3_I-2014.03-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 30 919 410 296 177

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/media/cqiu/e/work/prj/AIPrj/sim/sim_cnnaFKold/runsim/run_qst_vrd_nuvm_vvd1602_hls_FK/tb_dut_top.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 14832942.448980 16670050.000000
cursor 16305000.000000
marker 8465000.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 14

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
addGroup "G2"
activeDirFile "" "/media/cqiu/e/work/prj/AIPrj/sim/sim_cnnaFKold/runsim/run_qst_vrd_nuvm_vvd1602_hls_FK/tb_dut_top.fsdb"
addSignal -h 15 -UNSIGNED -HEX /apatb_cnna_top/AESL_inst_cnna/u0_axictrl_ram/O_maxi_awlen[31:0]
addSignal -h 15 -holdScope I_maxi_awready
addSignal -h 15 -holdScope O_maxi_awvalid
addSignal -h 15 -UNSIGNED -HEX -holdScope O_maxi_awaddr[31:0]
addSignal -h 15 -holdScope I_maxi_wready
addSignal -h 15 -holdScope O_maxi_wvalid
addSignal -h 15 -UNSIGNED -HEX -holdScope O_maxi_wdata[127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope O_maxi_wlast[1:0]
addSignal -h 15 -holdScope I_maxi_bid[0:0]
addSignal -h 15 -holdScope I_maxi_buser[0:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope I_maxi_bresp[1:0]
addSignal -h 15 -holdScope I_maxi_bvalid
addSignal -h 15 -holdScope O_maxi_bready
addGroup "G3"
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

